<div class="container mt-4">
  <h2>Cadastro de Peça</h2>

  <div class="mb-3">
    <label>Nome da Peça</label>
    <input class="form-control" [(ngModel)]="novaPeca.nome" />
  </div>

  <div class="mb-3">
    <label>Preço</label>
    <input class="form-control" [(ngModel)]="precoFormatado" (input)="formatarPreco()" />
  </div>

  <div class="mb-3">
    <label>Estoque</label>
    <input class="form-control" type="number" min="1" [(ngModel)]="novaPeca.estoque" />
  </div>

  <button class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
</div>
