<!-- auth.component.html -->
<div class="auth-container">
  <h2 *ngIf="isRegister">Cadastro</h2>
  <h2 *ngIf="!isRegister">Login</h2>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <input formControlName="email" placeholder="Email" />
    <input formControlName="password" type="password" placeholder="Senha" />
    <button type="submit">{{ isRegister ? 'Cadastrar' : 'Entrar' }}</button>
    <p>{{ loginMessage }}</p>
    <button type="button" (click)="toggleMode()">
      {{ isRegister ? 'Já tem conta? Faça login' : 'Cadastre-se' }}
    </button>
  </form>
</div>
