<div class="login-container">
  <h2>DJPDV 1.5.3d</h2>

  <div class="login-box">
    <h3>Informe a Senha de Perfil Diretoria</h3>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">Usuário:</label>
        <input type="email" id="email" formControlName="email" />
      </div>

      <div class="input-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" formControlName="password" />
      </div>

      <div class="button-group">
        <button type="submit">✔ OK</button>
        <button type="button" (click)="cancel()">❌ Cancelar</button>
      </div>
    </form>

    <div class="info-box">
      <p>Loja: <strong>001 - DJSYSTEM</strong></p>
      <p>Terminal: <strong>000</strong></p>
      <p>I.P.: <strong>192.168.56.1</strong></p>
    </div>

    <div class="status-box">
      <p>Status</p>
      <span class="status online">ON-LINE</span>
    </div>
  </div>
</div>
